:root {
    --main-bg: radial-gradient(circle, rgba(203,230,218,1) 0%, rgba(147,211,212,1) 50%, rgba(217,189,231,1) 100%);
    --container-bg: #276359;
    --container-border: #40a594;
    --link-bg: #e7dde9;
    --link-border: #a744b4;
    --link-color: #14646d;
    --link-hover-bg: #6d2a75;
    --font-main: 'Verdana', sans-serif;
  }
  
  body {
    font-family: var(--font-main);
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  .link-container {
    text-align: center;
    background-color: var(--container-bg);
    border: 3px solid var(--container-border);
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
  }
  
  h1 { font-size: 1.5rem; margin-bottom: 0; }
  h2 { font-size: 1.1rem; margin-bottom: 25px; margin-top: -5px; }
  h3 { font-size: .75rem; margin-bottom: 50px; font-weight: 100; }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 15px 0;
    position: relative;
  }
  
  a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--link-color);
    background-color: var(--link-bg);
    border: 2px solid var(--link-border);
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.15s, color 0.2s;
  }
  
  a:hover {
    background-color: var(--link-hover-bg);
    color: white;
  }
  
  .spotify-container {
    position: relative;
    overflow: hidden;
  }
  
  .sub-buttons {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    visibility: hidden;
  }
  
  .sub-buttons a {
    font-style: italic;
    font-size: 0.9rem;
  }
  
  .spotify-container:hover .sub-buttons {
    opacity: 1;
    max-height: 200px;
    visibility: visible;
  }
  
  .spotify-container:not(:hover) .sub-buttons {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
  }
  
  .spotify-container:hover > a::before {
    content: "see entire library - ";
  }
  
  .sprite-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
  
  .sprite {
    display: block;
    margin: 0 10px;
    width: 64px;
    height: 64px;
    animation: softBounce 2s infinite;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
  
  .sprite:nth-child(2) {
    animation: rotateAndScale 2s infinite;
  }
  
  .sprite:nth-child(3) {
    animation: softBounce3 2s infinite;
  }
  
  @keyframes softBounce {
    0%, 100% { transform: translateY(0) translateX(5px); }
    25% { transform: translateY(-10px) translateX(-5px); }
    50% { transform: translateY(0) translateX(-5px); }
    75% { transform: translateY(-5px) translateX(5px); }
  }
  
  @keyframes rotateAndScale {
    0%, 100% { transform: translateY(0) translateX(10px) scale(.94) rotate(0deg); }
    25% { transform: translateY(-5px) translateX(5px) scale(.98) rotate(5deg); }
    50% { transform: translateY(0) translateX(0) scale(.98) rotate(0deg); }
    75% { transform: translateY(-5px) translateX(-5px) scale(0.90) rotate(-5deg); }
  }
  
  @keyframes softBounce3 {
    0%, 100% { transform: translateY(0) translateX(15px); }
    25% { transform: translateY(-20px) translateX(5px); }
    50% { transform: translateY(0) translateX(5px); }
    75% { transform: translateY(-15px) translateX(10px); }
  }
  
  @media (max-width: 768px) {
    a { font-size: 1rem; padding: 10px 20px; }
  }
  
  @media (max-width: 480px) {
    a { font-size: 0.9rem; padding: 8px 16px; }
  }