/* Root variables for easy color management */
:root {
    --main-bg: radial-gradient(circle, rgba(203,230,218,1) 0%, rgba(147,211,212,1) 50%, rgba(217,189,231,1) 100%);
    --container-bg: #276359;
    --container-border: #40a594;
    --link-bg: #683972;
    --link-border: #a744b4;
    --link-color: #c4dee0;
    --link-hover-bg: #6d2a75;
    --font-main: 'Verdana', sans-serif;
}

@font-face {
    font-family: 'DogicaPixel';
    src: url('fonts/dogicapixel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'DogicaPixelBold';
    src: url('fonts/dogicapixelbold.ttf') format('truetype');
    font-weight: bold;
}

/* Basic body styling and centering content */
body {
    font-family: var(--font-main);
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

/* Main container for links */
.link-container {
    text-align: center;
    background-color: var(--container-bg);
    border: 3px solid var(--container-border);
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

h1 { font-size: 1.5rem; margin-bottom: 7px; font-family: 'DogicaPixelBold', sans-serif; text-transform: uppercase; }
h2 { font-size: 1.0rem; margin-bottom: 25px; margin-top: -5px; }
h3 { font-size: .75rem; margin-bottom: 30px; font-weight: 100; }

/* Ensure smooth transition for rainbow effect */
h2 {
    transition: color 0.3s ease-in-out, background 1s ease-in-out;
}

/* Prevent flickering when the l33t effect is applied */
h1 {
    transition: color 0.3s ease-in-out;
}

/* Tap Animation Effect */
h1, h2 {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sudavina-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
}

.sudavina-img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Ensures the image scales without distortion */
    border-radius: 10px; /* Optional: Adds a rounded corner effect */
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 15px 0;
    position: relative;
}

a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--link-color);
    background-color: var(--link-bg);
    border: 2px solid var(--link-border);
    padding: 8px 15px;
    border-radius: 3px;
    transition: background-color 0.15s, color 0.2s;
}

a:hover {
    background-color: var(--link-hover-bg);
    color: white;
}

/* Spotify container customization */
.spotify-container {
    position: relative;
    overflow: hidden;
}

.favorites-text {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--link-color);
    margin: 5px 0;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.spotify-container:hover .favorites-text {
    opacity: 1;
    max-height: 20px; /* Adjust this value as needed */
}

.sub-buttons {
    display: grid;
    margin-top: 5px; /* Reduced from 10px to accommodate new text */
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    visibility: hidden;
}

.sub-buttons a {
    font-style: italic;
    font-size: 0.9rem;
}

.spotify-container:hover .sub-buttons {
    opacity: 1;
    max-height: 200px;
    visibility: visible;
}

.spotify-container:not(:hover) .sub-buttons {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
}

.spotify-container:hover > a::before {
    content: "see entire library - ";
}

/* other-button container customization */
.other-button-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.other-button-container a {
    position: relative;
    padding-bottom: 8px;
    transition: padding-bottom 0.3s ease;
}

.other-button-container .hover-text {
    position: absolute;
    bottom: -20px; /* Adjust this value to bring it closer */
    left: 0;
    right: 0;
    font-size: 0.7em;
    font-style: italic;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: var(--link-hover-bg);
    padding: 3px; /* Reduced padding */
    border-radius: 0 0 3px 3px;
}

.other-button-container:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
    bottom: 0; /* Bring it all the way up on hover */
}

.other-button-container:hover a {
    padding-bottom: 20px; /* Reduced padding to bring text closer */
}

.other-button-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--link-border);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.other-button-container:hover a::after {
    transform: scaleX(1);
}

/* Sprites container customization */
.sprite-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sprite {
    display: block;
    margin: 0 10px;
    width: 64px;
    height: 64px;
    animation: softBounce 2s infinite;
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sprite:nth-child(2) {
    animation: rotateAndScale 2s infinite;
}

.sprite:nth-child(3) {
    animation: softBounce3 2s infinite;
}

/* Animations for sprite images */
@keyframes softBounce {
    0%, 100% { transform: translateY(0) translateX(5px); }
    25% { transform: translateY(-10px) translateX(-5px); }
    50% { transform: translateY(0) translateX(-5px); }
    75% { transform: translateY(-5px) translateX(5px); }
}

@keyframes rotateAndScale {
    0%, 100% { transform: translateY(0) translateX(10px) scale(.94) rotate(0deg); }
    25% { transform: translateY(-5px) translateX(5px) scale(.98) rotate(5deg); }
    50% { transform: translateY(0) translateX(0) scale(.98) rotate(0deg); }
    75% { transform: translateY(-5px) translateX(-5px) scale(0.90) rotate(-5deg); }
}

@keyframes softBounce3 {
    0%, 100% { transform: translateY(0) translateX(15px); }
    25% { transform: translateY(-20px) translateX(5px); }
    50% { transform: translateY(0) translateX(5px); }
    75% { transform: translateY(-15px) translateX(10px); }
}

/* Responsive design for smaller screens */
/* Add this to your existing CSS */
@media (max-width: 768px) {  /* Adjust this value as needed */
    .main-link {
        transition: none;
    }

    .main-link:hover {
        background-color: var(--link-bg);  /* Reset hover state */
    }

    .main-link.touch-hover {
        background-color: var(--link-hover-bg);
    }

    .spotify-container .main-link.touch-hover::before {
        content: "see entire library - ";
    }

    .spotify-container .touch-hover ~ .favorites-text,
    .spotify-container .touch-hover ~ .sub-buttons {
        opacity: 1;
        max-height: 200px;
        visibility: visible;
    }

    .other-button-container .main-link.touch-hover {
        padding-bottom: 20px;
    }

    .other-button-container .main-link.touch-hover .hover-text {
        opacity: 1;
        transform: translateY(0);
        bottom: 0;
    }

    .other-button-container .main-link.touch-hover::after {
        transform: scaleX(1);
    }
}

@media (max-width: 480px) {
    .link-container {
        max-width: calc(100% - 20px);
        padding: 20px;
    }

    h1 { font-size: 1.3rem; }
    h2 { font-size: 1rem; }
    h3 { font-size: 0.7rem; margin-bottom: 30px; }

    li {
        margin: 10px 0;
    }

    a {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #b187b3;
}

footer .year {
    font-size: 0.8em;
    vertical-align: baseline;
}

